.bottom-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: var(--uxp-host-background-color);
    margin-top: 4px;
    position: relative;
    z-index: 2;
}

@media (max-width: 400px) {
    .bottom-menu{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        background: var(--uxp-host-background-color);
        margin-bottom: 40px;
    }
}

.bottom-menu svg path{
    fill: var(--uxp-host-text-color);
}

.bottom-menu svg {
    width: 18px;
    height: 18px;
}

.bottom-menu sp-action-button {
    height: 28px;
    background: var(--uxp-host-background-color);

}
.bottom-menu sp-action-button:not(:first-child) {
    margin-left:1px;
}


.important svg path {
    fill: #ff5542;
  }
