.dropdown-menu {
  position: absolute;
  right: 0;
  top: 32px;
  z-index: 1;
  min-width: 250px;
  background-color: var(--uxp-host-background-color);
  border: 0.5px solid rgba(0, 0, 0, 0.24);
}


@media (max-width: 384px) {
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 62px;
    z-index: 1;
    min-width: 250px;
    background-color: var(--uxp-host-background-color);
    border: 0.5px solid rgba(0, 0, 0, 0.24);
  }
}

@media (max-width: 249px) {
  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 62px;
    z-index: 1;
    min-width: 100vw;
    background-color: var(--uxp-host-background-color);
    border: 0.5px solid rgba(0, 0, 0, 0.24);
  }
}
.checkbox-item {
  padding: 0 10px;
  height: 22px;
}
.dd-item {
  padding: 3px 10px;
}

.dd-item:last-child {
  padding-bottom: 10px;
}

.dd-item:hover {
  cursor: pointer;
  color: #c03b00;
}
.textsize-slider {
  display: flex;
  align-items: center;
}


.slider {
  margin-left: 10px;
  flex-grow: 1;
}
@media (max-width: 260px) {
  .textsize-slider {
    flex-direction: column;
    align-items: flex-start;
  }
  .slider {
    margin-left: 0px;
    min-width: 90%;
  }
}

.checkbox-container {
  padding-bottom: 10px;
}
