.dropdown-menu {
  position: absolute;
  right: 0px;
  top: 32px;
  z-index: 1;
  min-width: 250px;
  background-color: var(--uxp-host-background-color);
  border: 0.5px solid rgba(0, 0, 0, 0.24);
}
.dd-item {
  padding: 10px;
}
.dd-item:hover {
  /* color: var(--uxp-host-toggle-background-color); */
  cursor: pointer;
  color: orange;
}
.textsize-slider {
  display: flex;
  align-items: center;
}
.slider {
  margin-left: 10px;
  flex-grow: 1;
}

.checkbox-container {
  padding-bottom: 10px;
}
