.dropdown-menu {
  position: absolute;
  right: -5px;
  z-index: 10;
  background-color: var(--uxp-host-background-color);
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  /*width: 100%;*/
  height: auto;
  border-radius: 2px;
  /*padding: 10px 0px 10px 10px;*/
  /*display: none;*/
  overflow-y: auto;
  overflow-x: hidden;
}

.checkbox-item {
  padding: 0 10px;
  height: 22px;
}
.dd-item {
  padding: 3px 10px;
}

.dd-item:last-child {
  padding-bottom: 10px;
}

.dd-item:hover {
  cursor: pointer;
  color: #c03b00;
}
.textsize-slider {
  display: flex;
  align-items: center;
}

.slider {
  margin-left: 10px;
  flex-grow: 1;
}


@media (max-width: 260px) {
  .textsize-slider {
    flex-direction: column;
    align-items: flex-start;
  }
  .slider {
    margin-left: 0px;
    min-width: 90%;
  }
}

.checkbox-container {
  padding-bottom: 10px;
}
