.top-menu {
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  background: var(--uxp-host-background-color);
}

.top-menu svg path {
  fill: var(--uxp-host-text-color);
}

.top-menu svg {
  width: 18px;
  height: 18px;
}

.top-menu sp-action-button {
  height: 28px;
  background: var(--uxp-host-background-color);
}
.top-menu sp-action-button:not(:first-child) {
  margin-left: 1px;
}

.red-btn svg path {
  fill: red;
}

.red-btn svg {
  height: 16px;
}
.settings-btn svg {
  height: 16px;
}

.important svg path {
  fill: #ff5542;
}