.top-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    right: 15px;
    top: 0px;
    position: absolute;
    background: var(--uxp-host-background-color);
}