.importantBtn {
  background: #ff5542;
  border: 1px solid #ff5542 !important;
}

.importantBtn * {
  color: white !important;
}

.action-btn {
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 1.5px 1.5px;
  border-radius: 2px;
}

.action-btn:first-child {
  margin-left: 1.5px !important;
}

.last-clicked {
  border: solid 1px var(--uxp-host-text-color) !important;
  border-color: var(--uxp-host-text-color) !important;
}

.action-btn p {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  white-space: nowrap;
  margin-bottom: 2px;
  position: relative;
  z-index: 4;
}

@media (prefers-color-scheme: darkest) {
  .btn-blue {
    background: linear-gradient(to bottom, #56647a 2%, #353535, #353535);
    border: 1px solid #56647a;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-blue:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #353535, #56647a);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-blue:hover:before {
    opacity: 0;
  }

  /*--------------------*/

  .btn-green {
    background: linear-gradient(to bottom, #44634d 2%, #353535, #353535);
    border: 1px solid #44634d;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-green:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #353535, #44634d);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-green:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-orange {
    background: linear-gradient(to bottom, #66543e 2%, #353535, #353535);
    border: 1px solid #66543e;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-orange:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #353535, #66543e);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-orange:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-yellow {
    background: linear-gradient(to bottom, #756b49 2%, #353535, #353535);
    border: 1px solid #756b49;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-yellow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #353535, #756b49);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-yellow:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-gray {
    position: relative;
    border: 1px solid #5f5f5f;
    transition: all 0.35s ease-in-out;
    background: linear-gradient(to bottom, #5f5f5f 2%, #353535, #353535);
  }

  .btn-gray:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #353535, #5f5f5f);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-gray:hover:before {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .btn-blue {
    background: linear-gradient(to bottom, #6b7d99 2%, #545454, #545454);
    border: 1px solid #6b7d99;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-blue:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #545454, #6b7d99);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-blue:hover:before {
    opacity: 0;
  }

  /*--------------------*/

  .btn-green {
    background: linear-gradient(to bottom, #577f63 2%, #545454, #545454);
    border: 1px solid #577f63;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-green:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #545454, #577f63);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-green:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-orange {
    background: linear-gradient(to bottom, #876f50 2%, #545454, #545454);
    border: 1px solid #876f50;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-orange:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #545454, #876f50);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-orange:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-yellow {
    background: linear-gradient(to bottom, #95885c 2%, #545454, #545454);
    border: 1px solid #95885c;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-yellow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #545454, #95885c);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-yellow:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-gray {
    position: relative;
    border: 1px solid #787878;
    transition: all 0.35s ease-in-out;
    background: linear-gradient(to bottom, #787878 2%, #545454, #545454);
  }

  .btn-gray:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #545454, #787878);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-gray:hover:before {
    opacity: 0;
  }
}

@media (prefers-color-scheme: lightest) {
  .btn-blue {
    background: linear-gradient(to bottom, #cfdcf1, #f4f8fe);
    border: 1px solid #97a5bc;
    position: relative;
    transition: all 0.35s ease-in-out;
    height: 20px;
  }

  .btn-blue:before {
    content: "";
    position: absolute;
    z-index: 1;
    outline: 1px solid #a8b5ca;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #dde8f8, #a2bbe4);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-blue:hover:before {
    opacity: 0;
  }

  .btn-blue:hover {
    border: 1px solid #a8b5ca;
  }

  /*--------------------*/

  .btn-green {
    background: linear-gradient(to bottom, #c6e3cf, #f4fcf6);
    border: 1px solid #8cb497;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-green:before {
    content: "";
    position: absolute;
    outline: 1px solid #b3c8b9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #d2edd9, #92c29f);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-green:hover:before {
    opacity: 0;
    border: 1px solid #b3c8b9;
  }

  /*--------------------*/

  .btn-orange {
    background: linear-gradient(to bottom, #dec9aa, #faf3e9);
    border: 1px solid #c6b59a;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-orange:before {
    content: "";
    outline: 1px solid #b7a384;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #efe0c7, #cfac74);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-orange:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-yellow {
    background: linear-gradient(to bottom, #e7e1c1, #faf8f0);
    border: 1px solid #bdb277;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-yellow:before {
    content: "";
    position: absolute;
    outline: 1px solid #c5bfa1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #f3ebc1, #cec28a);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-yellow:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-gray {
    border: 1px solid #c0c0c0;
    position: relative;
    background-image: linear-gradient(to bottom, #c9c9c9, #f3f4f4);
  }

  .btn-gray:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #e9e9e9, #ababab);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-gray:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-none {
    border: 1px solid #c0c0c0;
    position: relative;
    background-image: linear-gradient(to bottom, #e2e2e2, #ffffff);
  }

  .btn-none:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #cacaca);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-none:hover:before {
    opacity: 0;
  } /*--------------------*/

  .action-btn > p {
    color: #000000;
  }

  .btn-important {
    border: 1px solid #d37970;
    position: relative;
    background-image: linear-gradient(to bottom, #f18e84, #f7dcd9);
  }
  .btn-important > p {
    color: white !important;
  }

  .btn-important:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #fdb5ae, #e64b3b);
  }

  .btn-important:hover:before {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  .btn-blue {
    background: linear-gradient(to bottom, #7d91b3 2%, #b7b7b7, #b7b7b7);
    border: 1px solid #7d91b3;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-blue:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #b7b7b7, #7d91b3);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-blue:hover:before {
    opacity: 0;
  }

  /*--------------------*/

  .btn-green {
    background: linear-gradient(to bottom, #70a680 2%, #b7b7b7, #b7b7b7);
    border: 1px solid #70a680;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-green:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #b7b7b7, #70a680);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-green:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-orange {
    background: linear-gradient(to bottom, #ad8f65 2%, #b7b7b7, #b7b7b7);
    border: 1px solid #ad8f65;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-orange:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #b7b7b7, #ad8f65);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-orange:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-yellow {
    background: linear-gradient(to bottom, #b9a971 2%, #b7b7b7, #b7b7b7);
    border: 1px solid #b9a971;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-yellow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #b7b7b7, #b9a971);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-yellow:hover:before {
    opacity: 0;
  }
  /*--------------------*/

  .btn-gray {
    position: relative;
    border: 1px solid #979797;
    transition: all 0.35s ease-in-out;
    background: linear-gradient(to bottom, #979797 2%, #b7b7b7, #b7b7b7);
  }

  .btn-gray:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #b7b7b7, #979797);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-gray:hover:before {
    opacity: 0;
  }
}

/*}*/
