.importantBtn {
  background: #ff5542;
  border: 1px solid #ff5542;
}

.importantBtn * {
  color: white !important;
}

.action-btn {
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 1.5px 1.5px;
  border-radius: 4px;
}

.action-btn p {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding: 0;
  white-space: nowrap;
  margin-bottom: 2px;
  position: relative;
  z-index: 1;
}

/*.action-btn:hover {*/
/*  background: transparent;*/
/*}*/

@media (prefers-color-scheme: darkest) {
  .btn-blue {
    background: #9eb9e3;
    border: 1px solid #9eb9e3;
  }

  .btn-green {
    background: #3f624c;
    border: 1px solid #3f624c;
  }

  .btn-orange {
    background: #68533b;
    border: 1px solid #68533b;
  }

  .btn-yellow {
    background: #786a46;
    border: 1px solid #786a46;
  }

  .btn-gray {
    background: #5f5f5f;
    border: 1px solid #5f5f5f;
  }
}

@media (prefers-color-scheme: dark) {
  .btn-blue {
    background: #9eb9e3;
    border: 1px solid #9eb9e3;
  }

  .btn-green {
    background: #537f63;
    border: 1px solid #537f63;
  }

  .btn-orange {
    background: #8b6f4e;
    border: 1px solid #8b6f4e;
  }

  .btn-yellow {
    background: #99885a;
    border: 1px solid #99885a;
  }

  .btn-gray {
    background: #797979;
    border: 1px solid #797979;
  }
}

@media (prefers-color-scheme: lightest) {
  .btn-blue {
    background: #9eb9e3;
    border: 1px solid #9eb9e3;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-blue:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, #fff 20%, #d2cece 100%)!important;*/
    background: linear-gradient(to bottom, #f3f3f3, #9eb9e3);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-blue:hover:before {
    opacity: 0;
  }
  .btn-green {
    background: #85cca0;
    border: 1px solid #85cca0;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-green:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, #fff 20%, #d2cece 100%)!important;*/
    background: linear-gradient(to bottom, #f3f3f3, #85cca0);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-green:hover:before {
    opacity: 0;
  }

  .btn-orange {
    background: #d8ad78;
    border: 1px solid #d8ad78;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-orange:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, #fff 20%, #d2cece 100%)!important;*/
    background: linear-gradient(to bottom, #f3f3f3, #d8ad78);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-orange:hover:before {
    opacity: 0;
  }

  .btn-yellow {
    background: #e4cb87;
    border: 1px solid #e4cb87;
    position: relative;
    transition: all 0.35s ease-in-out;
  }

  .btn-yellow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, #fff 20%, #d2cece 100%)!important;*/
    background: linear-gradient(to bottom, #f3f3f3, #e4cb87);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-yellow:hover:before {
    opacity: 0;
  }

  .btn-gray {
    position: relative;
    border: 1px solid #cbcbcb;
    transition: all 0.35s ease-in-out;
    /*background: linear-gradient(#e8e8e8 10%, #bebfbe 90%);*/
    /*background: linear-gradient(to bottom, #dedede 2%, #ffffff, #ffffff )*/
    background: #cbcbcb;
  }

  .btn-gray:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(to bottom, #fff 20%, #d2cece 100%)!important;*/
    background: linear-gradient(to bottom, #f3f3f3, #bebfbe);
    transition: opacity 0.35s ease-in-out;
  }

  .btn-gray:hover:before {
    opacity: 0;
  }

  /*.btn-gray:hover {*/
  /*  transition: all .4s ease-in-out;*/
  /*  background-position: 100% 0;*/
  /*}*/
}

@media (prefers-color-scheme: light) {
  .btn-green {
    background: #6ca681;
    border: 1px solid #6ca681;
  }

  .btn-orange {
    background: #b28f63;
    border: 1px solid #b28f63;
  }

  .btn-yellow {
    background: #bea970;
    border: 1px solid #bea970;
  }

  .btn-gray {
    background: #989898;
    border: 1px solid #989898;
  }
}
